.left-menu {
	float:left;
	font-size : 22px;
	width :15%;
	height:100%;
	background-color:#FFB6C1;
	padding-top : 10px;
}
.left-menu li{
	cursor:hand;
}

.left-menu ul{
	color :red;
	padding-left:15px;
}
.left-menu ul ul{
	padding-left:20px;
}

.main-menu{
	margin-left:30px;
	margin-top:30px;
	height:30px;
	width:100%;
}

.next-menu{
	display:none;
}

.next-menu li{
	color :blue;
	margin-top:5px;
	margin-left:30px;
}

.right-div{
	float:left;
	width:85%;
}