.left-menu {
	font-size : 18px;
	width :130px;
	background-color:#F5E2EC;
	padding-top : 10px;
}
.left-menu li{
		cursor:hand;
}

.left-menu ul{
	color :red;
	padding-left:15px;
}
.left-menu ul ul{
	padding-left:20px;
}

.main-menu{
	margin-top:5px;
	height:30px;
	width:100%;
}

.next-menu{
	display:none;
}

.next-menu li{
	color :blue;
	margin-top:5px;
}

