.list-left{
	float:left;
	margin-top:20px;
	width:180px;
	height:100%;
	background-color:#DC2233;
}
.list-right{
	margin-top:20px;
	float:right;
	width:800px;
	background-color:#DC2233;
}

.item-list-li{
	float:left;
	width:190px;
	heith:200px;
	margin-left:0px;
}

.list-right li img{
	width:80%;
	height:130px;
}