.left-favorite {
	float :left;
	width : 180px;
	height : 600px;
	background:#F5E2EC;
	margin-top : 10px;
}

.home-right{
	float : right;
	width : 800px;
	height : 1000px;
	margin-left : 10px;
	margin-top : 10px;
	background : #F5E2EC;
}

.home-new {
	width:100%;
	height :300px;
	background : #DC2233;
	margin-bottom :10px;
}

.home-favorite {
	width:100%;
	height :300px;
	background : #DC2233;
	margin-bottom :10px;
}

.home-tuijian {
	width:100%;
	height :300px;
	background : #DC2233;
	margin-bottom :10px;
}

.home-lanmu {
	width :100%;
	text-align :left;
	font-weight:bold;
	font-size : 16pt;
	color : bule;
}

.home-right table{
	width:100%;
	height:300px;
}

.right-td{
	float:right;
	margin-left:100px;
	width:800px;;
	height:300px;
}

.right-main-image{
	width:90%;
	height:60%;
	margin-left:10px;
	margin-top:10px;
}

.itme-title{
	font-size : 15px;
	color:#800000 ;
	margin-left:10px;
	margin-right:10px;
}

.item-prices{
	font-size:15px;
	color:#FFCC22;
	margin-left:15px;
}