.header {
	background-color:#2875F4 ;
	width:100%;
	height:35px;
	font-size:20px;
}

body a {
	text-decoration:none;
	text-color :black;
}

body{
	margin-top: 0px;
	margin-left :0px;
	margin-right :0px;
	background-color:#DDDDDD;
}

body li {
	list-style-type:none;
}

.body-div{
	margin-left:auto;
	margin-right:auto;
	width:1000px;	
	padding :0px;
}

.logout{
	
}

.search-div {
	width :100%;
	height : 140px;
	margin-bottom : 0px;
	margin-top : 0px; 
	background-color:white;
}
.search-text {
	float : left;
	margin-top:50px;
	width:300px;
	height : 40px;
	margin-left:200px;
	font-size:21px;
}
.search-button {
	float:left;
	width : 60px;
	height:40px;
	margin-top :50px;
	margin-left:20px;
}

.logo-img{
	float:left;
	width: 280px;
	height : 100px;
}

.car-img{
	float:right;
	width :60px;
	height :60px;
	margin-top :10px;	
}

.car-button{
	margin-top: 50px;
	height :25px;
	float:right;
	text-color:black;	
}

.bottom {
	float:left;
	width: 100%;
	height : 80px;
	background-color:#2875F4;
	text-align : center;
}
